= form_with(model: document, local: true) do |form|
  - if document.errors.any?
    #error_explanation
      %h2
        = pluralize(document.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - document.errors.full_messages.each do |message|
          %li= message
  .field.mb-3
    = form.label :name
    = form.text_field :name, class: "form-control", placeholder: "document name"
  .field.mb-3
    = form.label :url
    = form.text_field :url, class: "form-control", placeholder: "https://example.pdf"
  .actions.text-center.mb-3
    = form.submit class: "btn btn-primary btn-lg"
