%p#notice= notice
%h1 Documents
%table.table.table-striped.table-hover.table-sm
  %thead.thead-dark
    %tr
      %td.id Name
      %td.title Url
      %td.title show
      %td.edit edit
      %td.delete delete
  %tbody
    - @documents.each do |document|
      %tr{:class => "document_#{document.id}"}
        %td= document.name
        %td
          = link_to document.url, document.url, :target => "_blank"
        %td= link_to 'Show', document
        %td= link_to 'Edit', edit_document_path(document)
        %td= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Document', new_document_path
